<h1>All Your Recipes Are Belonging To Us</h1>

<h2><% @recipes.each do |recipe| %></h2>

  <h2><%= recipe.title.titleize %></h2>
  <h3>Chef: <%= recipe.chef %></h3>
  <h3>Ingredients: <%= recipe.ingredients %></h3>
  <h3>Directions: <%= recipe.directions %></h3>
  <h4>Prep Time: <%= recipe.prep_time %></h4>
  <br>
<% end %>